<!--<h1>About Context</h1>-->
<!--<p>Context is an up and coming hip-hop producer currently based in Stockton, California.</p>
<p>He has been influenced by a wide and eclectic variety of musical genres. In particular, 90's East Coast hip-hop, 70's jazz fusion, modern classical music, funk, latin, and soul.</p>
<p>As a producer, he is heavily influenced by the boom bap style of beats and prefers music independent of the popular trends. Some of his main influences include, DJ Premier, Alchemist, and Just Blaze</p>
<p>His beats tend to have a mellow, funky, jazzy vibe though some can be more upbeat and others can be darker.</p>
<p>The collage on the right contains many of the albums that have inspired him throughout the years.</p>-->

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor lacinia ligula, quis condimentum magna lobortis lacinia. Duis vestibulum tortor diam, non pharetra odio. Ut quis magna risus. Duis tincidunt pulvinar lectus, eget ornare enim consequat ac. Phasellus viverra diam id neque suscipit et fermentum nulla aliquam. Nam eu volutpat mi. Nulla id mauris tellus, nec pulvinar tortor. In laoreet feugiat egestas. Vestibulum ut ipsum felis. Praesent tincidunt, ipsum ut mollis rutrum, urna ante egestas leo, ut malesuada dui lorem suscipit enim. Aliquam erat volutpat. Donec auctor, augue sed tristique pretium, est lectus posuere nunc, nec condimentum velit urna sit amet orci.</p>

<p>Integer congue venenatis eros, quis porttitor enim dapibus quis. Integer mollis volutpat ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc in nulla vel enim aliquam lobortis in vel nisi. Nunc sed est diam, nec tristique odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam nibh libero, scelerisque ut auctor in, ultricies ac justo. Nam leo nisl, cursus at interdum ut, vestibulum non massa. Phasellus consequat condimentum justo sed tempor. Sed eget purus nisl. Duis ornare nulla quis purus lacinia eget varius nibh sagittis. Mauris tristique, erat in mattis tincidunt, mi sapien congue mauris, eget varius tellus lacus tincidunt elit. Sed viverra facilisis accumsan. Pellentesque felis mauris, consectetur a suscipit vel, eleifend eu massa. Phasellus molestie, ipsum ac varius ultricies, urna sapien egestas velit, quis volutpat massa nulla a massa.</p>

<p>Integer consequat pretium justo, vel eleifend turpis varius in. Proin ultricies, odio vitae dictum sollicitudin, eros metus egestas purus, nec lacinia lorem odio quis ante. Etiam eget nisi justo. Mauris id nulla sit amet est consectetur rutrum sed eget neque. In arcu urna, laoreet at suscipit sit amet, iaculis quis erat. Proin a risus quis justo viverra suscipit id ac tortor. Sed nibh mauris, lobortis at bibendum porta, ullamcorper non erat. Integer accumsan, ipsum nec mattis consectetur, dui dui ultricies quam, id porta justo mi vel turpis.</p>

<script>
    $("#content").mCustomScrollbar({
        scrollInertia: 200,
        advanced: {updateOnContentResize: true}
    });
</script>
