<h1>About Context</h1>
<p>Context is an up and coming hip-hop producer currently based in Stockton, California.</p>
<p>He has been influenced by a wide and eclectic variety of musical genres. In particular, 90's East Coast hip-hop, 70's jazz fusion, modern classical music, funk, latin, and soul.</p>
<p>As a producer, he is heavily influenced by the boom bap style of beats and prefers music independent of the popular trends. Some of his main influences include, DJ Premier, Alchemist, and Just Blaze</p>
<p>His beats tend to have a mellow, funky, jazzy vibe though some can be more upbeat and others can be darker.</p>
<p>The collage on the right contains many of the albums that have inspired him throughout the years.</p>
