%p
  :plain
    Context is an up and coming hip-hop producer currently based in Stockton, California. He specializes in making
    beats with jazzy or funky grooves.
%p
  :plain
    Context is influenced by many different producers including: DJ Premier, Pete Rock, Large Professor, Just Blaze,
    Alchemist, Havoc, RZA, Stoupe the Enemy of Mankind, No ID, JUSTICE League, 9th Wonder, J Dilla, Black Milk, Jake
    One, Bomb Squad, The Hitmen, and Madlib.
%p
  :plain
    Context uses a combination of FL Studio, Pro Tools, and WaveLab to make his productions.