<!--<h1>News</h1>-->

<% @posts.each do |post| %>
    <%= render 'posts/onepost', :post => post %>
    <br/>
<% end %>

<br />
<script>
    $("#content").mCustomScrollbar({
        scrollInertia: 200,
        advanced: {updateOnContentResize: true}
    });
</script>
