- commentid = "comment-#{comment.id}"
%p.comments{ :id => "#{commentid}" }
  = comment_display(comment)
  - if signed_in?
    = link_to 'X', [comment.post, comment], :remote => true, :confirm => 'Are you sure?', :method => :delete