@import "bootstrap";

$blue-color: #0088cc;
$gray-color: #a0a0a0;
$main-color: #272727;

@mixin button_style {
  background:none!important;
  border:none;
  padding:0!important;
  color: $blue-color;
}

/* universal */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  color:  white;
  background-color: $main-color;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a:hover {
  color: white;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#container {
  width: 994px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color:  $blue-color;
  font-weight: normal;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#navigation {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 80px;
  float: left;
  padding-left: 0px;
}

#logo {
  float: left;
  margin-right: 0px;
  margin-bottom: 40px;
  font-size: 5em;
  letter-spacing: 0px;
  color: #fff;
  padding-top: 9px;
  font-family: TrajanProRegular;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#menu {
  font-size:  2em;
  height: 80px;
  float: left;
  margin-left: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  vertical-align: bottom;
  ul {
    bottom: 0px;
    margin-left: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
    display: inline-block;
    height: 80px;
  }
  li {
    padding-top: 50px;
    margin-right: 60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    bottom: 0px;
    display: table-cell;
    vertical-align: bottom;
    color: $gray-color;
    display: inline-block;
    height: 80px;
    a {
      padding-bottom: 0px;
      bottom: 0px;
      margin-bottom: 0px;
      border-radius:  0px;
      display: table-cell;
      vertical-align: bottom;
      color: $gray-color;
      &:hover {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
    }
  }
}


.hovernav a{
  color:  white;
}

#links {
  height: 50px;
  padding-bottom: 0px;
  width: 140px;
  margin-top: 30px;
  margin-left: 88px;
  a {
    margin-left: 50px;
  }
}

/* footer */

footer, .push {
  clear: both;
  height: 20px;
}

footer small {
  text-align: center;
  color: $gray-color;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 0.75em;
}

/* content */
#content {
  margin-top: 20px;
  margin-left: 70px;
  width: 554px;
  float: left;
  max-height: 592px;
  overflow: hidden;
}

/* other */
.form-actions {
  background-color: transparent;
  border: none;
}

.input-xxlarge, #message_name, #message_email, #message_subject, .comment_fieldset .comment_commenter, .comment_fieldset .comment_body, .input-medium, .input-xlarge, #session_name, #session_password, #post_form input {
  border-radius: 0px;
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* Contact */

#contact_submit {
  @include button_style;
  font-size: 2em;
  margin-left: 60px;
  margin-top: -30px;
}

#errors {
  color: $gray-color;
  margin-left: 0px;
  margin-bottom: 0px;
  height: 18px;
}

.control-group {
  margin-left: 0px;
}

.controls {
  margin-left: 0px;
}

.btn-primary {
  margin-left: -100px;
  margin-top: -24px;
}

#contact_par {
  margin-left: 0px;
}

form.form-inline div.control-group {
  display: inline-block;
  div.controls {
    display: inline-block;
  }
}

#message_name, #message_email, #message_subject, #message_body {
  margin-left: -180px;
}

/* Time */
.time {
  color: $gray-color;
  font-style: italic;
}

/* Music */
#music {
  margin-top: 4px;
  width: 370px;
  height: 592px;
  margin-left: 0px;
  float: left;
}

#vol_img {
  position: absolute;
  margin-top: -452px;
  margin-left: 107px;
}

.info-label {
  color: $gray-color;
}

#music-info {
  height: 55px;
  display: none;
  h3 {
    margin-left: 10px;
  }
  ul {
    padding-left: 0px;
    margin-left: 10px;
  }
  li {
    display: inline-block;
    &:first-child {
      display: inline-block;
      width: 204px;
    }
  }
  p {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

/* Comments */

.comments {
  font-size: 0.75em;
}

.comment_name {
  font-weight: bold;
}

.comment_date {
  color: $gray-color;
  font-style: italic;
}

.comment_submit {
  display: inline-block;
}

.comment_div {
  display: inline-block;
  padding: 0px;
}

.comment_submit {
  @include button_style;
  font-size: 1em;
  margin-left: 8px;
}

.comment_fieldset {
  margin-top: -20px;
}

.comment_body {
  margin-left: 8px;
}

.errors_2 {
  color: $gray-color;
  height: 18px;
  margin-top: -28px;
  font-size: 1em;
}

/* News Posts */

#post_form {
  .controls {
    margin-left: 0px;
  }
  .form_actions {
    margin-left: 0px;
    margin-top: 8px;
  }
}

#post_form .controls {
  margin-left: 0px;
}

#post_submit {
  margin-top: -14px;
  @include button_style;
}

.post_pic {
  margin-left: auto;
}

.post_links a {
  margin-right: 16px;
}

.form-actions {
  height: 8px;
  margin-top: 0px;
}

/* Sessions */

#signin_submit {
  @include button_style;
  font-size: 1.5em;
  margin-left: 58px;
  margin-top: -50px;
}

#login {
  display: inline-block;
}